<?xml version="1.0" encoding="UTF-8" ?>  <!--该文件必须顶格 前面不能有空行-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qjp.mybatis.mapper.StudentMapper">  <!--命名空间指定对应的mapper位置-->
    <select id="findAll" resultType="com.qjp.mybatis.po.Student">
        SELECT * FROM student;
    </select>

    <insert id="insert" parameterType="com.qjp.mybatis.po.Student">
        INSERT INTO student (name,score,age,gender) VALUES (#{name},#{score},#{age},#{gender});
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM student WHERE id = #{id};
    </delete>

    <update id="updateById" parameterType="int" >
        UPDATE student SET score=score-1 WHERE id = #{id}
    </update>
    <select id="findByName" parameterType="string" resultType="student">
        SELECT * FROM student WHERE name like '%${value}%';
    </select>
</mapper>

